.work-item {
  background: white;
  padding: 22px;
  border-radius: 12px;
  border: 1px solid #eee;
  text-align: center;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.work-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
